body {
    box-sizing: border-box;
    background-color: var(--primary);
    font-family: 'Bowlby One SC', cursive;
    color: var(--text);
}

:root {
    --default-page: lightseagreen;
    --default-text: black;
    --purple: #4B2436;
    --mustard: #E2A411;
    --green: #1E322D;
    --primary: var(--default-page);
    --text: var(--default-text);
}

h1 {
    text-align: center;
    font-size: 5vh;
    margin-top: 3vh;
    margin-bottom: 0;
}

#winner {
    height: 5vh;
    font-size: 4vh;
    text-align: center;
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.scores {
    height: 20vh;
    width: 20vh;
    text-align: center;
}

.player-score {
    font-size: 5vh;
}

.player-name {
    margin-top: 4vh;
    margin-bottom: 0;
}

#player-one-color {
    border-radius: 100%;
    box-shadow: 0 0 29px 13px var(--purple), inset 0 0 29px 13px var(--purple);
}

#player-two-color {
    border-radius: 100%;
    box-shadow: 0 0 29px 13px var(--mustard), inset 0 0 29px 13px var(--mustard);
}

#game {
    display: flex;
    flex-direction: column;
    ;
}

#player-choice {
    display: flex;
    flex-direction: row;
    border: 1vh solid var(--primary);
}

#player-choice>div {
    height: 8vh;
    width: 8vh;
    border-radius: 50%;
    background-color: transparent;
    border: 1vh solid var(--primary);
}

#board {
    display: flex;
    flex-direction: row;
    height: 60vh;
    width: 70vh;
    background-color: var(--green);
    border: 1vh solid var(--green);
}

.column>div {
    height: 8vh;
    width: 8vh;
    border-radius: 100%;
    background-color: var(--primary);
    border: 1vh solid var(--green);
}

#options {
    padding: 4vh;
    display: flex;
    justify-content: center;
}