body {
    box-sizing: border-box;
    background-color: var(--primary);
    font-family: 'Bowlby One SC', cursive;
    color: var(--text);
}

:root {
    --def1: #20b2aa;
    --def2: #000000;
    --def3: #4B2436;
    --def4: #E2A411;
    --def5: #1E322D;
    --dark1: #000000;
    --dark2: #252525;
    --dark3: #C1584B;
    --dark4: #F2F0D5;
    --dark5: #1F1E1E;
    --sher1: #F2F0D5;
    --sher2: #e76f51;
    --sher3: #2a9d8f;
    --sher4: #e9c46a;
    --sher5: #264653;
    --primary: var(--def1);
    --text: var(--def2);
    --player1: var(--def3);
    --player2: var(--def4);
    --board: var(--def5);
}

h1 {
    text-align: center;
    font-size: 5vh;
    margin-top: 3vh;
    margin-bottom: 0;
}

#winner {
    height: 5vh;
    font-size: 4vh;
    text-align: center;
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.scores {
    height: 20vh;
    width: 20vh;
    text-align: center;
}

.player-score {
    font-size: 5vh;
}

.player-name {
    margin-top: 4vh;
    margin-bottom: 0;
}

#player-one-color {
    border-radius: 100%;
    box-shadow: 0 0 29px 13px var(--player1), inset 0 0 29px 13px var(--player1);
}

#player-two-color {
    border-radius: 100%;
    box-shadow: 0 0 29px 13px var(--player2), inset 0 0 29px 13px var(--player2);
}

#game {
    display: flex;
    flex-direction: column;
    ;
}

#player-choice {
    display: flex;
    flex-direction: row;
    border: 1vh solid var(--primary);
}

#player-choice>div {
    height: 8vh;
    width: 8vh;
    border-radius: 50%;
    background-color: transparent;
    border: 1vh solid var(--primary);
}

#board {
    display: flex;
    flex-direction: row;
    height: 60vh;
    width: 70vh;
    background-color: var(--board);
    border: 1vh solid var(--board);
}

.column>div {
    height: 8vh;
    width: 8vh;
    border-radius: 100%;
    background-color: var(--primary);
    border: 1vh solid var(--board);
}

#options {
    padding: 4vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#options-wrapper {
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#new-board-wrapper, #selects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}